@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0%;
}
.nav1 {
    padding-top: 5px;
    padding-left: 25px;
}

.nav2 {
    padding-bottom: 50px;
}

.padding-bottom {
    padding-bottom: 25px;
}